.calculator {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.buttons-grid {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.buttons-grid .button {
    flex: 1 1 21%;
}

