.display {
    width: 100%;
    height: 100px;
    background-color: #1b1b32;
    color: white;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    border-radius: 15px;
    border: 2px solid white;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 10px;
}